a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #CD0000;
}

/* visited link */
a:visited {
  color: #CD0000;
}

/* mouse over link */
a:hover {
  color: #ffb7b7;
}

/* selected link */
a:active {
  color: #CD0000;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #484e50;
  font-size: 34px;
  letter-spacing: 1px;
  margin: 0px;
}

.dot {
  font-family: 'Quicksand', sans-serif;
  color: #CD0000;
  font-size: 30px;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Magra', sans-serif;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.arrow {
  margin-left: -10px;
  margin-top: 10px;
  animation-delay: 1s;
  animation-duration: 3s;
}

