body {
  margin: 0;
  background-color: #000;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #ffb7b7;
}

/* selected link */
a:active {
  color: #fff;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px;
}

.dot {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Magra', sans-serif;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.moto {
  margin-top: 14px;
  text-align: right;
  color: #fff;
  grid-area: moto;
}

.logo {
  grid-area: logo;
}

.logo-text {
  font-size: 34px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.close-button {
  position: absolute;
  width: 20px;
  top: 20px;
  left: 20px;
}

.senior {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  grid-area: footer;
  margin: 0 auto;
  text-align: center;
}

.container-two {
  grid-area: work-holder;
  margin: 0 auto;
}

.work-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin-left: 12%;
  margin-right: 12%;
}

.work-title {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 22px;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 20px;
}

.image-holder {
  margin-top: 40px;
  text-align: center;
}

.image-holder-logo {
  margin-top: 40px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.image {
  margin: 0 auto;
  max-width: 80%;
  max-height: 80%;
}

@media screen and (max-width: 699px) and (min-width: 320px) {

  .moto {
    text-align: center;
    margin-right: 0px;
  }

  .logo-text {
    text-align: center;
    margin-left: 0px;
  }

  .senior {
    text-align: center;
    margin-left: 0px;
  }

  .work-text {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .work-title {
    margin-left: 0px;
    margin-right: 0px;
  }

  .image {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 601px) {

  .moto {
    margin-right: 20px;
  }

  .logo-text {
    margin-left: 20px;
  }

  .senior {
    margin-left: 20px;
  }

  .work-text {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .work-title {
    margin-left: 0px;
    margin-right: 0px;
  }

  .image {
    max-width: 100%;
    max-height: 100%;
  }
}